body {
  background-color: white;
}

table {
  margin: auto;
  background-color: #87CEEB;
  width: 295px;
  max-width: 295px;
  height: 500px;
  text-align: ;
  border-radius: 4px;
  padding-right: 10px;;
}
  img {
  border: 5px solid#000000;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}
